* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
}

.parent {
  height: 100vh;
  border: 20px solid rgb(0, 0, 0);
  /** default direction is row **/
  display: flex;
}

.child1 {
  width: 200px;
  height: 200px;
  background: rgb(39, 61, 134);
  /** default is 0, bigger the number it's places last in the flex end.**/
  order: 4;
}

.child2 {
  width: 200px;
  height: 200px;
  background: rgb(172, 57, 53);
  order: 2;
}

.child3 {
  width: 200px;
  height: 200px;
  background: rgb(149, 43, 140);
  order: 3;
}

.child4 {
  width: 200px;
  height: 200px;
  background: rgb(28, 156, 124);
  order: 0;
}
