* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
}

.parent {
  height: 100vh;
  border: 20px solid rgb(0, 0, 0);
  /** default direction is row **/
  display: flex;
}

.child1 {
  height: 200px;
  background: rgb(39, 61, 134);
  /** Combines flex-grow, flex-shrink & flex-basis **/
  flex: 1 1 300px;
}

.child2 {
  height: 200px;
  background: rgb(172, 57, 53);
  flex: 1 1 300px;
  align-self: center;
}

.child3 {
  height: 200px;
  background: rgb(149, 43, 140);
  flex: 1 1 300px;
}

.child4 {
  height: 200px;
  background: rgb(28, 156, 124);
  flex: 1 1 300px;
  align-self: flex-end;
}
